// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// @body-background: #2979FF;
// @component-background: #2979FF;

// layout
@layout-header-padding: 0 20px;
@layout-footer-padding: 24px 20px;
// @layout-body-background: black;
// @layout-header-background: black;
// @layout-sider-background: black;

// font
@font-family-no-number: 'Noto Sans JP', sans-serif;
@font-family: 'Noto Sans JP', sans-serif;
@code-family: monospace;

// color
@primary-color: #050063;

// form
@form-item-margin-bottom: 14px;
@form-item-trailing-colon: false;

// tooltip
@tooltip-color: black;
@tooltip-bg: white;

// table
@table-row-hover-bg: white;
@table-header-sort-bg: white;
@table-padding-vertical: 0px;
@table-padding-horizontal: 0px;

// misc
@line-height-base: 1.5em;
@border-radius-base: 3px;
