@import './color.scss';

.content-wrapper {
  border-radius: 6px;
  background-color: white;
}

.employeeschedule {
  .column-header {
    font-size: 12px;
    text-align: center;

    &.italic {
      font-style: italic;
    }
  }
  .column-name {
    font-size: 13px;
    margin-left: 6px;
  }
  .data-index {
    font-size: 11px;
    font-style: italic;
    text-align: center;
  }
  .data-name {
    font-size: 12px;
    margin-left: 6px;
    color: $primary-color;
    cursor: pointer;
  }
  .to-right {
    font-size: 12px;
    float: right;
    margin-right: 4px;
  }
}
.table {
  width: 100%;
  overflow: hidden;
}

.cell {
  height: 21px;
  background-color: #7986CB;
  position: relative;
  cursor: default;

  &.b3 { background-color: #7986CB; }
  &.b4 { background-color: #5C6BC0; }
  &.b5 { background-color: #3F51B5; }
  &.b6 { background-color: #3949AB; }
  &.b7 { background-color: #303F9F; }
  &.b8 { background-color: #283593; }
  &.b9 { background-color: #1A237E; }

  .label {
    white-space: nowrap;
    font-size: 9px;
    color: white;
    text-align: center;
  }
}
