@import './color.scss';

.content-wrapper {
  border-radius: 6px;
  background-color: white;
}

.gunttchart {
  .column-header {
    font-size: 12px;
    text-align: center;

    &.italic {
      font-style: italic;
    }
  }
  .column-name {
    font-size: 13px;
    margin-left: 6px;
  }
  .data-index {
    font-size: 11px;
    font-style: italic;
    text-align: center;
  }
  .data-name {
    font-size: 12px;
    margin-left: 6px;
    color: $primary-color;
    cursor: pointer;
  }
  .to-right {
    font-size: 12px;
    float: right;
    margin-right: 4px;
  }
}
.table {
  width: 100%;
  overflow: hidden;
}

.cell {
  height: 21px;
  background-color: #FFB74D;
  position: relative;
  cursor: default;

  &.b3 { background-color: #FFB74D; }
  &.b4 { background-color: #FFA726; }
  &.b5 { background-color: #FF9800; }
  &.b6 { background-color: #FB8C00; }
  &.b7 { background-color: #F57C00; }
  &.b8 { background-color: #EF6C00; }
  &.b9 { background-color: #E65100; }

  .label {
    white-space: nowrap;
    font-size: 9px;
    color: white;
    text-align: center;
  }
}
