@import url(https://fonts.googleapis.com/css?family=Roboto:700,400,300,200,100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);

@import 'color.scss';
@import 'header.scss';
@import 'monthly-table.scss';
@import 'setting.scss';
@import 'profile.scss';
@import 'schedule.scss';
@import 'intro.scss';
@import 'tab1.scss';
@import 'tab2.scss';
@import 'switch.scss';
@import 'list.scss';
@import 'mask.scss';

html, body {
  width:  100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  font-size: 13px;
  font-family: 'Roboto, RobotoDraft', Arial, sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#root, #container {
  width:  100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;

  .gradiention {
    background: linear-gradient(300deg, #080037, #0a00cb);
    background-size: 400% 400%;
    
    -webkit-animation: move-gradient 15s ease infinite;
    -moz-animation: move-gradient 15s ease infinite;
    animation: move-gradient 15s ease infinite;
    
    @-webkit-keyframes move-gradient {
        0%{background-position:7% 0%}
        50%{background-position:94% 100%}
        100%{background-position:7% 0%}
    }
    @-moz-keyframes move-gradient {
        0%{background-position:7% 0%}
        50%{background-position:94% 100%}
        100%{background-position:7% 0%}
    }
    @keyframes move-gradient { 
        0%{background-position:7% 0%}
        50%{background-position:94% 100%}
        100%{background-position:7% 0%}
    }
  }
}

.table {
  padding: 4px;
  border-radius: 6px;
}

.hover-rotate {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  &:hover {
    svg {
      animation: spin 0.6s;
      animation-iteration-count: 1;
    }
  }
}

.rocket-launch {
  @keyframes launch {
    0% {
      transform: translateY(0);
      color: $primary-color;
    }
    100% {
      transform: translateY(-100px);
      opacity: 0;
    }
  }
  svg {
    animation-name: launch;
    animation-duration: 1.5s;
    // animation-iteration-count: 1;
  }
}

// override antd
.ant-tabs-bar {
  text-align: center;
}

.ant-fullcalendar-header {
  display: none;
}

.ant-fullcalendar-header {
  > div {
    font-size: 12px;

    ul > li {
      font-size: 12px;
    }
  }
  .ant-select {
    margin-left: 6px;
  }
  // .ant-select-selection {
  //   font-size: 12px;
  // }
}
