@import 'color.scss';

@keyframes fadeOutTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

#intro {
  z-index: 0;
  width:  100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;

  .center {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > i {
      color: white;
      opacity: 0.8;
      font-size: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .white-logo {
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("./img/logo_white.png");
    color: white;
    cursor: pointer;
  }

  .button {
    display: inline-block;
    height: 38px;
    margin-top: 40px;
    padding: 0 40px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: inset 0 0 0 0 #fff;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      color: #080037;
      box-shadow: 0 -5em 0 0 rgba(255,255,255,1) inset;
      transition: 500ms linear;
    }
  }

  .footer-logo {
    z-index: 999;
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
    background-image: url("./img/gnlogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130px;
    height: 30px;
    cursor: pointer;
  }

  .exit {
    -webkit-animation-name: fadeOutTop;
    animation-name: fadeOutTop;
    animation-duration: 1.5s;
  }
}