@import 'color.scss';

.profile {

  .profile-header {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #edeff0;
    padding: 20px;
  
    .icon {
      font-size: 18px;
      cursor: pointer;

      &.disabled {
        color: lightgrey;
        cursor: default;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .profile-detail-wrapper {
      display: flex;
      .profile-image {
        margin-right: 14px;
      }
      .profile-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 6px;
        width: 280px;
    
        > .name {
          margin-bottom: 4px;
          > h1 {
            display: inline;
            font-size: 24px;
          }
          > p {
            font-size: 11px;
            display: inline;
            color: #8c8c8c;
            padding-left: 4px;
          }
          > .age {
            font-size: 16px;
            font-style: italic;
            padding-left: 4px;
          }
        }
        > .details {
          > .phone, .mail {
            font-size: 12px;
            display: inline;
            padding-right: 10px;
          }
        }
      }
    }
  }

  .profile-content {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

  }
}

.calendar {
  table {
    tr > th,
    tr > td {
      font-size: 11px;
    }
  }
}

.ant-fullcalendar-header {
  > div {
    font-size: 12px;

    ul > li {
      font-size: 12px;
    }
  }
  .ant-select {
    margin-left: 6px;
  }
  // .ant-select-selection {
  //   font-size: 12px;
  // }
}