
.setting {
  position: relative;
  height: 100%;

  .setting-header {
    padding: 29px 24px;
    background-color: #070182;
    color: white;

    > h2 {
      color: white;
      display: inline;
      font-size: 17px;
    }
  }

  .setting-content {
    padding: 24px;
  }
  .label {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .setting-footer {
    margin: 24px;
  }
}