
#tab1 {
  width: 100%;
  height: 100%;
  padding-left: 26px;
  padding-right: 26px;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}